#todo-list {
  list-style-type: none;
  padding: 0;
}

#todo-list li {
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

#todo-list li.completed {
  text-decoration: line-through;
  color: gray;
}
.todo-item {
  position: relative;
}
#task-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid silver;
    border-width: 1px;
    padding: 4px;
}
#new-task {
    border: none;

}


.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 30px;
}
.delete-icon {
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.delete-icon::before {
  content: "\fed";
}

.delete-icon + .menu-icon {
  display: none;
}
